.App {
  text-align: center;
}

span{
  cursor: pointer;
}

span:hover{
  text-decoration: underline;
}

.chatview__chooseRooms{
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.chatview__inner {
  overflow: scroll;
  display: inline-block;
  margin: 10px;
  width: 300px;
  height: 400px;
  border: 1px solid black;
}

textarea {
  width: 200px;
  height: 100px;
}



